/*** Global ***/
.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.side-nav li a:hover {
  background: none;
}

.card .card-content .card-title {
  line-height: inherit;
}

.collapsible-body.card {
  margin: 0;
  box-shadow: none;
}

.input-field label {
  left: 0;
}

.checkbox-field {
  margin-top: 32px;
  margin-bottom: 27px;
}

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}

.noUi-background {
  box-shadow: none;
}

.noUi-target.noUi-connect {
  box-shadow: none;
}

.slider-red.noUi-connect, .slider-red.noUi-horizontal .noUi-handle, .slider-red.noUi-target .range-label {
  background: #e51c23;
}

.slider-orange.noUi-connect, .slider-orange.noUi-horizontal .noUi-handle, .slider-orange.noUi-target .range-label {
  background: #ff9800;
}

.slider-green.noUi-connect, .slider-green.noUi-horizontal .noUi-handle, .slider-green.noUi-target .range-label {
  background: #4CAF50;
}

.navbar-fixed.navbar-custom {
  height: 48px;
}

.navbar-fixed.navbar-custom nav {
  height: 48px;
  line-height: 48px;
}

.navbar-fixed.navbar-custom nav .button-collapse i {
  height: 48px;
  line-height: 48px;
  font-size: 2.1rem;
}

.navbar-fixed.navbar-custom .side-nav a {
  height: 48px;
  line-height: 48px;
}

.page-footer .input-field label {
  color: white;
}

.page-footer .input-field input[type=text], .page-footer .input-field textarea.materialize-textarea, .page-footer .input-field input[type=email] {
  color: white;
  border-bottom: 1px solid white;
}

.page-footer .input-field input[type=text]:focus + label, .page-footer .input-field textarea.materialize-textarea:focus + label, .page-footer .input-field input[type=email]:focus + label {
  color: white;
}

.page-footer .input-field input[type=text]:focus, .page-footer .input-field textarea.materialize-textarea:focus, .page-footer .input-field input[type=email]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

.page-footer .input-field input[type=text].valid, .page-footer .input-field textarea.materialize-textarea.valid, .page-footer .input-field input[type=email].valid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

.page-footer .input-field input[type=text].invalid, .page-footer .input-field textarea.materialize-textarea.invalid, .page-footer .input-field input[type=email].invalid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

.page-footer .input-field .prefix.active {
  color: white;
}

.parallax-container {
  min-height: 450px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

.parallax-container .btn-action {
  position: absolute;
  bottom: 10px;
  margin-left: -28px;
}

.collapsible-header {
  position: relative;
}

.collapsible-header .right-text {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 14.5px;
}

.card-content {
  position: relative;
}

.card-content .btn-floating.action {
  position: absolute;
  top: -18px;
  right: 40px;
}

.card-reveal p {
  white-space: pre-wrap;
}

.slider-container {
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .wow {
    visibility: visible !important;
    -webkit-animation-name: none !important;
    -o-animation-name: none !important;
    animation-name: none !important;
  }
}
