<div class="container">
	<ul class="collapsible popout" data-collapsible="accordion" watch>
		<li ng-repeat="skill in vm.skills">
			<div class="collapsible-header">
				<i class="material-icons">{{vm.getIcon(skill.type)}}</i>
				<span class="truncate">{{skill.name}}</span>
			</div>
			<div class="collapsible-body card">
				<div class="card-content">
					<div input-field>
						<input type="text" ng-model="skill.name">
						<label>Nom</label>
					</div>
					<div input-field>
						<input type="number" ng-model="skill.power">
						<label>Note</label>
					</div>
					<div class="slider-container">
						<div ng-class="vm.getSliderColor(skill.power)" ui-slider ng-model="skill.power" start=0 end=100 step=10 connect="lower"></div>
					</div>
					<div class="input-field">
						<select class="" ng-model="skill.type" material-select watch>
						    <option ng-repeat="type in vm.types" value="{{type._id}}">{{type.name}}</option>
						</select>
						<label>Type</label>
					</div>
				</div>
				<div class="card-action">
					<a class="btn-flat waves-effect waves-light" ng-click="vm.update(skill)">Sauvegarder</a>
					<a class="btn-flat waves-effect waves-light" ng-click="vm.remove(skill)">Supprimer</a>
				</div>
			</div>
		</li>
		<li>
			<div id="new-skill-form" class="collapsible-header">
				<i class="material-icons">add</i>
				<span class="truncate">Nouvelle compétence</span>
			</div>
			<div class="collapsible-body card">
				<div class="card-content">
					<div input-field>
						<input type="text" ng-model="vm.newSkill.name">
						<label>Nom</label>
					</div>
					<div input-field>
						<input type="number" ng-model="vm.newSkill.power">
						<label>Note</label>
					</div>
					<div class="slider-container">
						<div ng-class="vm.getSliderColor(vm.newSkill.power)" ui-slider ng-model="vm.newSkill.power" start=0 end=100 step=10 connect="lower"></div>
					</div>
					<div class="input-field">
						<select class="" ng-model="vm.newSkill.type" material-select watch>
						   	<option ng-repeat="type in vm.types" value="{{type._id}}">{{type.name}}</option>
						</select>
						<label>Type</label>
					</div>
				</div>
				<div class="card-action">
					<a ng-click="vm.create()" class="btn-flat waves-effect waves-light">Créer</a>
				</div>
			</div>
		</li>
	</ul>
</div>