<div class="container">
	<ul class="collapsible popout" data-collapsible="accordion" watch>
		<li ng-repeat="skillType in vm.skillTypes">
			<div class="collapsible-header">
				<i class="material-icons">{{skillType.icon}}</i>
				<span class="truncate">{{skillType.name}}</span>
			</div>
			<div class="collapsible-body card">
				<div class="card-content">
					<div input-field>
						<input type="text" ng-model="skillType.name">
						<label>Nom</label>
					</div>
					<div input-field>
						<input type="text" ng-model="skillType.icon">
						<label>Icone</label>
					</div>
				</div>
				<div class="card-action">
					<a class="btn-flat waves-effect waves-light" ng-click="vm.update(skillType)">Sauvegarder</a>
					<a class="btn-flat waves-effect waves-light" ng-click="vm.remove(skillType)">Supprimer</a>
				</div>
			</div>
		</li>
		<li>
			<div id="new-skill-type-form" class="collapsible-header">
				<i class="material-icons">add</i>
				<span class="truncate">Nouveau type de compétence</span>
			</div>
			<div class="collapsible-body card">
				<div class="card-content">
					<div input-field>
						<input type="text" ng-model="vm.newSkillType.name">
						<label>Nom</label>
					</div>
					<div input-field>
						<input type="text" ng-model="vm.newSkillType.icon">
						<label>Icone</label>
					</div>
				</div>
				<div class="card-action">
					<a ng-click="vm.create()" class="btn-flat waves-effect waves-light">Créer</a>
				</div>
			</div>
		</li>
	</ul>
</div>