<div class="container">
	<ul class="collapsible popout" data-collapsible="accordion" watch>
		<li ng-repeat="experienceType in vm.experienceTypes">
			<div class="collapsible-header">
				<i class="material-icons">{{experienceType.icon}}</i>
				<span class="truncate">{{experienceType.name}}</span>
			</div>
			<div class="collapsible-body card">
				<div class="card-content">
					<div input-field>
						<input type="text" ng-model="experienceType.name">
						<label>Nom</label>
					</div>
					<div input-field>
						<input type="text" ng-model="experienceType.icon">
						<label>Icone</label>
					</div>
					<div input-field>
						<input type="text" ng-model="experienceType.color">
						<label>Couleur</label>
					</div>
				</div>
				<div class="card-action">
					<a class="btn-flat waves-effect waves-light" ng-click="vm.update(experienceType)">Sauvegarder</a>
					<a class="btn-flat waves-effect waves-light" ng-click="vm.remove(experienceType)">Supprimer</a>
				</div>
			</div>
		</li>
		<li>
			<div id="new-experience-type-form" class="collapsible-header">
				<i class="material-icons">add</i>
				<span class="truncate">Nouveau type de compétence</span>
			</div>
			<div class="collapsible-body card">
				<div class="card-content">
					<div input-field>
						<input type="text" ng-model="vm.newExperienceType.name">
						<label>Nom</label>
					</div>
					<div input-field>
						<input type="text" ng-model="vm.newExperienceType.icon">
						<label>Icone</label>
					</div>
					<div input-field>
						<input type="text" ng-model="vm.newExperienceType.color">
						<label>Couleur</label>
					</div>
				</div>
				<div class="card-action">
					<a ng-click="vm.create()" class="btn-flat waves-effect waves-light">Créer</a>
				</div>
			</div>
		</li>
	</ul>
</div>