/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

// FIXES //
.body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

//Side nav fix hover effect
.side-nav {
	li {
		a:hover {
			background: none;
		}
	}
}

// Line height fix
.card .card-content .card-title {
    line-height: inherit;
}

// Unify collapsible-body and card
.collapsible-body.card {
	margin: 0;
	box-shadow: none;
}

.input-field label {
    left: 0;
}


.checkbox-field {
	margin-top: 32px;
	margin-bottom: 27px;
}

// TIMELINE //

$timeline-badge-size: 40px;
$timeline-badge-margin: 10px;
.timeline {
	position: relative;
	.timeline-event {
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
		.timeline-content {
			position: relative;
			width: calc(50% - #{$timeline-badge-size/2 + 30px});
		}

		&::before { 
			display: block;
			content: "";
			width: 2px;
			height: calc(50% - #{$timeline-badge-size/2 + $timeline-badge-margin});
			position: absolute;
			background: rgb(210,210,210);
			left: calc(50% - 1px);
			top: 0;
		}

		&::after { 
			display: block;
			content: "";
			width: 2px;
			height: calc(50% - #{$timeline-badge-size/2 + $timeline-badge-margin});
			position: absolute;
			background: rgb(210,210,210);
			left: calc(50% - 1px);
			top: calc(50% + #{$timeline-badge-size/2 + $timeline-badge-margin});
		}

		&:first-child::before {
			display: none;
		}

		&:last-child::after {
			display: none;
		}

		&:nth-child(even) {
			.timeline-content {
				margin-left: calc(50% + #{$timeline-badge-size/2 + 30px});
			}
		}

		&:nth-child(odd) {
			.timeline-content {
				margin-left: 0;
			}
		}
	}

	.timeline-badge {
		display: block;
		position: absolute;
		width: $timeline-badge-size;
		height: $timeline-badge-size;
		background: rgb(210,210,210);
		top: calc(50% - #{$timeline-badge-size / 2});
		right: calc(50% - #{$timeline-badge-size / 2});
		border-radius: 50%;
		text-align: center;

		cursor: default;
		i {
			font-size: $timeline-badge-size - 15px;
			line-height: $timeline-badge-size;
		}
	}

	@media (max-width: $small-screen) {
		.timeline-event {
			.timeline-content {
				width: calc(100% - #{$timeline-badge-size + 30px});
			}

			&::before { 
				left: $timeline-badge-size/2 - 1px;
			}

			&::after { 
				left: $timeline-badge-size/2 - 1px;
			}

			&:nth-child(even) {
				.timeline-content {
					margin-left: 30px + $timeline-badge-size;
				}
			}

			&:nth-child(odd) {
				.timeline-content {
					margin-left: 30px + $timeline-badge-size;
				}
			}
		}

		.timeline-badge {
			left: 0;
		}

	}
}

// SLIDER //

.noUi-background {
    box-shadow: none;
}

.noUi-target.noUi-connect {
    box-shadow: none;
}

.slider-red {
	&.noUi-connect, &.noUi-horizontal .noUi-handle, &.noUi-target .range-label {
		background: #e51c23;
	}
}
.slider-orange {
	&.noUi-connect, &.noUi-horizontal .noUi-handle, &.noUi-target .range-label {
		background: #ff9800;
	}
}
.slider-green {
	&.noUi-connect, &.noUi-horizontal .noUi-handle, &.noUi-target .range-label {
		background: #4CAF50;
	}
}

.navbar-fixed.navbar-custom {
    height: 48px;
    nav {
        height: 48px;
        line-height: 48px;
        .button-collapse i {
            height: 48px;
            line-height: 48px;
            font-size: 2.1rem;
        }
    }
    .side-nav a {
        height: 48px;
        line-height: 48px;
    }
}

// FOOTER //

.page-footer {
	.input-field {
		label {
     		color: white;
     	}
		input[type=text], textarea.materialize-textarea, input[type=email] {
	   		color: white;
	   		border-bottom: 1px solid white;
	   		&:focus + label {
	   			color: white;
	   		}
	   		&:focus {
	   			border-bottom: 1px solid white;
	    		box-shadow: 0 1px 0 0 white;
	   		}
	   		&.valid {
	   			border-bottom: 1px solid white;
	    		box-shadow: 0 1px 0 0 white;
	   		}
	   		&.invalid {
	   			border-bottom: 1px solid white;
	    		box-shadow: 0 1px 0 0 white;
	   		}
	    }
		.prefix.active {
			color: white;
		}
	}
}

// PARALLAX

.parallax-container {
    min-height: 450px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
    .section {
		width: 100%;
	}

	.btn-action {
		position: absolute;
		bottom: 10px;
		margin-left: -28px;
	}
}

// 

.collapsible-header {
	position: relative;
	.right-text {
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 14.5px;
	}
}

.card-content {
	position: relative;
	.btn-floating.action {
		position: absolute;
		top: -18px;
		right: 40px;
	}
}

.card-reveal {
	p {
		white-space: pre-wrap;
	}
}

.slider-container {
	margin-bottom: 50px;
}

@media (max-width: $small-screen) {
    .wow {
    	visibility: visible !important;
    	-webkit-animation-name: none !important;
    	-o-animation-name: none !important;
    	animation-name: none !important;
    }
}