<div class="container">
	<ul class="collapsible popout" data-collapsible="accordion" watch>
		<li ng-repeat="experience in vm.experiences">
			<div class="collapsible-header">
				<i class="mdi-image-filter-drama"></i>
				<span>{{experience.title}}</span>
			</div>
			<div class="collapsible-body" style="padding-left: 10px; padding-right: 10px;">
				<p>{{experience.startDate | date: "short"}}</p>
				<form>
					<div input-field>
						<input type="text" ng-model="experience.title" length="150">
						<label>Titre</label>
					</div>
					<label for="startDate{{index}}">Date de début</label>
					<input input-date
						   type="text"
						   id="startDate{{index}}"
						   ng-model="experience.startDate"
						   container="body"
						   format="dd/mm/yyyy"
						   />
					<div>
						<select class="" ng-model="experience.company" material-select watch>
						    <option ng-repeat="value in ['Company', 'test2']">{{value}}</option>
						</select>
					</div>
				</form>
			</div>
		</li>
	</ul>
</div>